/* Gabriel Reis e Lucas Randal - 23.05.2024 */
body {
    background-color: rgb(245, 244, 244);
}

#post {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
    width: 880px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

img {
    width: 880px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}