/* Gabriel Reis e Lucas Randal - 23.05.2024 */
body {
    background-color: white;
}

#container {
    display: flex;
    grid-template-columns: repeat(2, 650px); 
    gap: 20px; 
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding:40px;
    width: 650px;
}

img:hover {
    opacity: 1;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}